# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editors
.vscode/
.idea/

# Outputs / results
outputs/
RESULTS/
**/outputs/
**/RESULTS/

# Large data
data/**
!data/README.md
!data/.gitkeep